{
  "extends": [
    "taro",
    "plugin:taro/all"
  ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "semi": 2
  },
  "parser": "babel-eslint",
  "plugins": ["typescript"]
}
